# dependencies
node_modules/
.pnp
.pnp.js

# build
dist/
build/
.next/
out/
.vercel/

# next.js
next-env.d.ts

# env
.env
.env*.local

# logs & OS
*.log
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp

.vercel
